body {
    background-color: rgba(235, 179, 25, 0.322);
    font-family: 'Playfair Display', 'serif';
}

.blocks {
    border: solid;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
}

h1, h3 {
    color: rgb(10, 10, 133);
}

h1 {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

img {
    border-radius: 15px;
}

.recipe-link img{
    height: 250px;
    width: 300px;
  }

#borscht {
    background-color: lightgreen;
    border-color: green;
}

#holubtsi {
    background-color: lightblue;
    border-color: blue;
}

#vinegret {
    background-color: lightpink;
    border-color: rgb(206, 70, 70);
}

.recipe-link {
    width: 350px;

    text-align: center;
}

.row, .recipe-first, .recipe-second {
    display: flex;
    justify-content: center;
}

.recipe-first img {
    width: 500px;
}

.recipe-image {
    margin: 5px;
    padding: 5px;
}

.description {
    background-color: lightgreen;
    border-color: green;
}

.ingredients {
    background-color: lightpink;
    border-color: rgb(206, 70, 70);
    width: 40%;
}

.steps {
    background-color: lightblue;
    border-color: blue;
    width: 60%;
}
